auth_enabled: false

server:
  http_listen_port: 3100

ingester:
  chunk_idle_period: 3m
  chunk_retain_period: 1m
  max_chunk_age: 1h

schema_config:
  configs:
  - from: 2020-10-24
    store: filesystem
    schema: v11
    index:
      prefix: index_
      period: 24h

storage_config:
  filesystem:
    directory: /loki/storage

limits_config:
  reject_old_samples: true
  reject_old_samples_max_age: 168h
